.overlay {
    background-color: rgba(82, 65, 76, 0.7);
}

h1 {
    font-weight: 400;
    font-size: 1.8rem;
    color: #2F837F;
    word-wrap: break-word;
}

h2 {
    font-weight: 400;
    word-wrap: break-word;
}

a.no-anchor {
    color: inherit !important;
    text-decoration: inherit !important;
}